.startMatch {
    width: 50%;
    height: 20%;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    margin: 3% auto auto auto;
    gap: 3%;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 20px;
}