table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 10px;
    background-color: azure;
    justify-content: center;
    align-content: center;
    margin: 0px auto auto auto;


}

th,
td {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid black;
    border-color: #333;
    transition: border-color 0.3s ease;
}

tr:hover {
    /* Add a transition effect to make the change smoother */
    transition: all 0.3s ease;

    /* Change the background color on hover */
    background-color: #ddd;
}

td:hover {
    /* Add a transition effect to make the change smoother */
    transition: all 0.3s ease;

    /* Change the background color and text color on hover */
    background-color: #ddd;
    color: #333;
}

